<div class=".targert" id="target">
  <div class="about-container">
       <img class="kevin-mobile" src="{{site.baseurl}}/assets/img/kevin-2.png" alt="">
   <div class="box-left">
   </div>
   <div class="box-right">
     <h2>Kevin Ryan</h2>
     <p class="title">Writer / Video Editor / Gamer</p>
     <p>I’ve been a gamer for nearly 20 years. For the last three years however i’ve strived to turn my hobby into work that I can be proud of and share which included dabbling in podcasting, video editing and writing.</p>

     <p>I specifically chose to focus on the independent side of the gaming industry in order to combat the stereotype that gaming was a young boy’s hobby full of blood and guns. To me indie games possess narrative, mechanical and thematic variety that quite adequately fight this notion. Within this corner of the industry lie countless examples of the depth a video game can reach and I intend to do my best to shine a light on them.</p>
      {% include social_footer.html %}
   </div>
  </div>
</div>
