
<header class="main_header">
  <div class="container">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}<img class="site-logo" src="{{site.baseurl}}/assets/img/logo-teal.svg" alt="">{% endif %}</a>
  <nav class="main_menu">
    <span class="previews"> Latest Indie News &amp; Coverage</span>
    <a href="#">
      <img class="test" src="{{ "/assets/img/arrow.svg" | prepend: site.baseurl }}" alt="arrow">
    </a>
  </nav>
</div>
</header> <!-- End Section Header -->
